//Microsoft eMbedded Visual C++ generated resource script.
//
#include "resource.h"

#include "newres.h"

#include "icons.txt"

IDD_TEMPLATE DIALOG DISCARDABLE  0, 0, 186, 90
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VSCROLL
CAPTION "Select file"
FONT 8, "System"
BEGIN
END

IDR_TEMPLATE_MENUBAR_2 SHMENUBAR DISCARDABLE 
BEGIN
    0, 2,
    I_IMAGENONE, IDC_LEFT, TBSTATE_ENABLED, TBSTYLE_AUTOSIZE, IDS_CAP_MENUITEMEMPTY, 0, NOMENU,
    I_IMAGENONE, IDC_RIGHT, TBSTATE_ENABLED, TBSTYLE_AUTOSIZE, IDS_CAP_MENUITEMEMPTY, 0, NOMENU,
END

IDR_TEMPLATE_MENUBAR_MENU SHMENUBAR DISCARDABLE 
BEGIN
    IDR_TEMPLATE_MENUBAR_MENU, 2,
    I_IMAGENONE, IDC_LEFT, TBSTATE_ENABLED, TBSTYLE_AUTOSIZE, IDS_CAP_MENUITEMEMPTY, 0, NOMENU,
    I_IMAGENONE, IDC_RIGHT, TBSTATE_ENABLED, TBSTYLE_DROPDOWN | TBSTYLE_AUTOSIZE, IDS_CAP_MENUITEMEMPTY, 0, 1,
END

IDR_TEMPLATE_MENUBAR_MENU MENU DISCARDABLE 
BEGIN
    POPUP "Menu"
    BEGIN
        MENUITEM "Stub",                       IDOK
    END
    POPUP "Menu"
    BEGIN
        MENUITEM "Stub",                       IDOK
    END
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDC_VISUALPAINTERPPC    "VISUALPAINTERPPC"
END
